<div class="container-home mb-16 py-12 h-5/6 w-screen grid grid-cols-2">
  <div class="info mt-8">
    <h1>Nosssas Regras</h1>
    <p class="mt-5">
      Sem sombra de dúvidas queremos <b>o melhor</b> para os nossos peludinhos,
      portanto queremos esclerecer quais são os requisitos para você ter um novo
      membro na família:
    </p>
    <div class="topics"></div>
  </div>
  <div class="container-images">
    <div class="images">
      <img
        class="vector"
        src="https://i.imgur.com/hXlvX76.png"
        alt="Vector Image"
      />
      <img
        class="person"
        src="https://i.imgur.com/T0Y9lhe.png"
        alt="Person Image"
      />
    </div>
  </div>
</div>
