.text {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;

  img {
    height: 20px;
    width: auto;
    vertical-align: middle;
  }
  span {
    width: 500px;
  }
}
