<div class="container h-full w-full">
  <div class="container-adopt mb-16 py-12 h-5/6 w-screen grid grid-cols-2">
    <div class="info mt-8">
      <h1>Adote Agora</h1>
      <p class="mt-6">
        Temos vários peludinhos esperando para fazer um lar mais feliz!
      </p>
    </div>
    <div class="container-images z-10">
      <div class="images">
        <img
          class="rulesDog"
          src="https://i.imgur.com/VVipV7M.png"
          alt="Dog Image"
        />
      </div>
    </div>
  </div>
</div>
<div class="z-20 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 ms-16">
  @for(animal of animals; track animal){
  <app-card [animal]="animal" class=""></app-card>
  }
</div>
