<div class="container h-full w-full">
  <div class="container-adopt mb-16 py-12 h-5/6 w-screen grid grid-cols-2">
    <div class="info mt-8">
      <h1>Adote Agora</h1>
      <p class="mt-6">
        Temos vários peludinhos esperando para fazer um lar mais feliz!
      </p>
    </div>
    <div class="container-images">
      <div class="images">
        <img
          class="rulesDog"
          src="https://i.imgur.com/VVipV7M.png"
          alt="Dog Image"
        />
      </div>
    </div>
  </div>
  <div class="flex items-center grid grid-cols-3">
    <div class="1">a</div>
    <div class="2">2</div>
    <div class="3">4</div>
  </div>
</div>
