<div class="container-home mb-16 py-12 h-5/6 w-screen grid grid-cols-2">
  <div class="info mt-8">
    <h1>Procurando um novo amigo?</h1>
    <p class="mt-5">
      A <b>Quatro Patas</b> pode ajudar nessa missão! <br />
      Doguinhos e Gatinhos estão esperando para <br />
      fazer você feliz! <br />
      Adote agora mesmo.
    </p>
    <div class="btns mt-8">
      <button (click)="navigateTo('/adopt')" class="mr-8 btn-purple">
        Adote agora
      </button>
      <button (click)="navigateTo('/rules')" class="btn-white">
        Nossas Regras
      </button>
    </div>
  </div>
  <div class="container-images">
    <div class="images">
      <img
        class="person"
        src="https://i.imgur.com/8nB1L1n.png"
        alt="Person Image"
      />
    </div>
  </div>
</div>
