@import "../../../variables.scss";
.container-home {
  padding-left: 100px;
  position: relative;

  .container-images {
    position: absolute;
    height: 35%;
    width: 35%;
    right: 10px;
    top: 50px;
  }
  .info {
    width: 500px;
    h1 {
      font-family: "Amatic SC", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 80px;
      line-height: 1.1;
    }
    p {
      width: 400px;
      line-height: 1.5;
      font-family: "Nunito", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }

    .btns {
      font-family: "Nunito", sans-serif;
      .btn-purple {
        background-color: $purple;
        color: white;
        border: none;
        padding: 9px 35px;
        border-radius: 12px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 4px 4px 12px rgba(121, 24, 217, 0.4);
      }
      .btn-purple:hover {
        background-color: #6600cc;
        box-shadow: 6px 6px 16px rgba(121, 24, 217, 0.6);
      }
      .btn-white {
        background-color: white;
        color: $purple;
        border: 2px solid $purple;
        padding: 8px 25px;
        border-radius: 12px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 4px 4px 12px rgba(121, 24, 217, 0.4);
      }
      .btn-white:hover {
        box-shadow: 6px 6px 16px rgba(121, 24, 217, 0.6);
      }
    }
  }

  .images {
    position: relative;

    .image {
      width: 100%;
      height: auto;
    }

    .person {
      position: absolute;
      right: 10px;
      width: 90%;
      z-index: 2;
    }
  }
}
